@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Epilogue";
  font-size: 18px;
}

#headerContainer {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#headerLogoDropDownContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#headerLogoImg {
  width: 100px;
  height: 100%;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../public/logo.svg");
  margin-right: 30px;
}

#headerButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  cursor: pointer;
  color: dimgray;
}

.headerButton:hover {
  color: #141414;
}

.headerButtonDropDown {
  height: 10px;
  width: 10px;
  margin-left: 7px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../public/icon-arrow-down.svg");
}

.headerDropdownButtonWithIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerDropdownButtonWithIcon:hover {
  color: #141414;
}

.headerDropdownButtonWithIcon:hover .headerButtonDropDown {
  -webkit-filter: brightness(0) saturate(100%);
          filter: brightness(0) saturate(100%);
}

#loginRegisterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: dimgray;
}

.loginRegText {
  margin: 0 auto;
  cursor: pointer;
}

.loginRegText:hover {
  color: #141414;
}

#registerButtonContainer {
  border: 2px solid dimgray;
  border-radius: 15px;
  padding: 10px 20px;
  margin-left: 40px;
  cursor: pointer;
}

#registerButtonContainer:hover {
  color: #141414;
  border-color: #141414;
}

#headerMenuDropdown {
  display: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("../../public/icon-menu.svg");
}

@media (max-width: 920px) {
  .headerButton {
    margin: 0 10px;
  }
}

#featureHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  cursor: pointer;
  color: dimgray;
}

#companyHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  cursor: pointer;
  color: dimgray;
}

#featureDropdownContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin-top: 50px;
}

#drawerContainer {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#drawerWhiteContainer {
  background-color: white;
  padding: 20px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: dimgray;
}

#drawerCloseButtonContainer {
  height: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#drawerCloseButton {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../../public/icon-close-menu.svg");
}

.drawerButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.drawerButtonDropDown {
  height: 12px;
  width: 12px;
  margin-left: 10px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../public/icon-arrow-down.svg");
}

.drawerLoginRegText {
  line-height: 0;
}

#drawerLoginButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 10px 0;
}

#drawerRegisterButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 2px solid dimgray;
  border-radius: 15px;
  padding: 5px 70px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#mainBodyContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 100px 0 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#bodyInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#headerText {
  font-size: 100px;
}

#bodyInfoText {
  font-size: 18px;
  color: dimgray;
  line-height: 30px;
  width: 60%;
}

#bodyInfoImgContainer {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../../public/image-hero-desktop.png");
}

#learnMoreContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#learnMoreButton {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #141414;
  border-radius: 10px;
  padding: 0px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#learnMoreText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fafafa;
  font-weight: 700;
}

#logosContainer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.compLogo {
  width: 23%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#databizLogo {
  background-image: url("../../public/client-databiz.svg");
}

#audioPhileLogo {
  background-image: url("../../public/client-audiophile.svg");
}

#meetLogo {
  background-image: url("../../public/client-meet.svg");
}

#makerLogo {
  background-image: url("../../public/client-maker.svg");
}

@media (max-width: 1580px) {
  #headerText {
    font-size: 70px;
  }
}

@media (max-width: 1190px) {
  #mainBodyContainer {
    padding: 10px 30px;
  }
  #bodyInfoText {
    width: 80%;
  }
  #learnMoreButton {
    margin-top: 10px;
  }
}

@media (max-width: 820px) {
  #mainBodyContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
  }
  #bodyInfoImgContainer {
    height: 40vh;
    max-width: 100%;
    max-height: 100%;
    background-position: center top;
    background-image: url("../../public/image-hero-mobile.png");
  }
  #bodyInfoContainer {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #headerText {
    font-size: 35px;
    text-align: center;
    width: 100%;
    white-space: nowrap;
  }
  #bodyInfoText {
    width: 100%;
    padding: 0 5px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #learnMoreContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #logosContainer {
    margin-top: 20px;
  }
  #headerButtonContainer {
    display: none;
  }
  #loginButtonContainer {
    display: none;
  }
  #registerButtonContainer {
    display: none;
  }
  #headerMenuDropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #headerContainer {
    height: 70px;
    padding: 0 10px;
  }
}
/*# sourceMappingURL=styles.css.map */