@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
@import "./colors";

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Epilogue";
  font-size: 18px;
}

#headerContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#headerLogoDropDownContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#headerLogoImg {
  width: 100px;
  height: 100%;
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../public/logo.svg");
  margin-right: 30px;
}

#headerButtonContainer {
  display: flex;
}

.headerButton {
  display: flex;
  align-items: center;
  margin: 0 20px;
  cursor: pointer;
  color: $medium-gray;

  &:hover {
    color: $almost-black;

    .headerButtonDropDown {
      filter: brightness(0) saturate(100%);
    }
  }
}

.headerButtonDropDown {
  height: 10px;
  width: 10px;
  margin-left: 7px;
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../public/icon-arrow-down.svg");
}

#loginRegisterContainer {
  display: flex;
  align-items: center;
  color: $medium-gray;
}

.loginRegText {
  margin: 0 auto;
  cursor: pointer;

  &:hover {
    color: $almost-black;
  }
}

#registerButtonContainer {
  border: 2px solid $medium-gray;
  border-radius: 15px;
  padding: 10px 20px;
  margin-left: 40px;
  cursor: pointer;

  &:hover {
    color: $almost-black;
    border-color: $almost-black;
  }
}

@media (max-width: 920px) {
  .headerButton {
    margin: 0 10px;
  }
}

#mainBodyContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 30px 100px 0 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#bodyInfoContainer {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#headerText {
  font-size: 100px;
}

#bodyInfoText {
  font-size: 18px;
  color: $medium-gray;
  line-height: 30px;
  width: 60%;
}

#bodyInfoImgContainer {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../../public/image-hero-desktop.png");
}

#learnMoreContainer {
  display: flex;
}

#learnMoreButton {
  cursor: pointer;
  display: flex;
  background-color: $almost-black;
  border-radius: 10px;
  padding: 0px 30px;
  justify-content: center;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#learnMoreText {
  display: flex;
  color: $almost-white;
  font-weight: 700;
}

#logosContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.compLogo {
  width: 23%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#databizLogo {
  background-image: url("../../public/client-databiz.svg");
}

#audioPhileLogo {
  background-image: url("../../public/client-audiophile.svg");
}

#meetLogo {
  background-image: url("../../public/client-meet.svg");
}

#makerLogo {
  background-image: url("../../public/client-maker.svg");
}

@media (max-width: 1580px) {
  #headerText {
    font-size: 70px;
  }
}

@media (max-width: 1190px) {
  #mainBodyContainer {
    padding: 10px 30px;
  }

  #bodyInfoText {
    width: 80%;
  }

  #learnMoreButton {
    margin-top: 10px;
  }
}

@media (max-width: 820px) {
  #mainBodyContainer {
    flex-direction: column-reverse;
    padding: 0;
  }

  #bodyInfoImgContainer {
    height: 40vh;
    max-width: 100%;
    max-height: 100%;
    background-position: center top;
    background-image: url("../../public/image-hero-mobile.png");
  }

  #bodyInfoContainer {
    padding: 0;
    justify-content: center;
  }

  #headerText {
    font-size: 40px;
    text-align: center;
    width: 100%;
  }

  #bodyInfoText {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #learnMoreContainer {
    justify-content: center;
  }
}
